* {
  padding: 0;
  margin: 0;
}

.dog {
  max-width: 50%;
  max-height: 50%;
  border: 2px solid rgb(17, 3, 126);
  border-radius: 30px;
}

button {
  background-image: linear-gradient(rgb(9, 1, 115),rgb(47, 47, 199),rgb(91, 91, 221));
  border-style: hidden;
  color:aliceblue;
  border-radius: 30px;
  margin-top: 2rem;
  padding:15px;
  cursor: pointer;
}

.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
  justify-content: center;
  height: 60vh;
  font-family: 'Comfortaa', cursive;

}